In [1]:
import pandas as pd
df = pd.read_csv("GDP_growth.csv")

In [11]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.653502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,21.020649,8.433290,6.113685,14.434741,3.900575,2.690522,1.310040,2.366712,2.595542,NaN
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.412910,3.452875,3.873331,5.177594,6.842717,4.703971,2.999747,-0.813494,0.721699,NaN
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.352610,3.710058,2.550161,1.419968,1.000755,1.774369,2.218752,3.352159,3.841364,NaN
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.873197,NaN

In [40]:
row = df.iloc[0]
row[0]
row.index[4:-1]
list(row[4:61])
row = row[row.notnull()]
row

Country Name                      Aruba
Country Code                        ABW
Indicator Name    GDP growth (annual %)
Indicator Code        NY.GDP.MKTP.KD.ZG
1995                            1.24509
1996                            7.81443
1997                            6.66662
1998                            1.15447
1999                            4.51406
2000                          -0.364696
2001                           -2.16446
2002                            0.46529
2003                            7.51947
2004                            1.17669
2005                           0.380391
2006                            2.35512
2007                           -3.65463
2008                            -6.8813
2009                            -5.6535
Name: 0, dtype: object

In [46]:
rows = [df.iloc[i] for i in range(len(df))]

In [49]:
rows = [el[el.notnull()] for el in rows]
rows[0]

Country Name                      Aruba
Country Code                        ABW
Indicator Name    GDP growth (annual %)
Indicator Code        NY.GDP.MKTP.KD.ZG
1995                            1.24509
1996                            7.81443
1997                            6.66662
1998                            1.15447
1999                            4.51406
2000                          -0.364696
2001                           -2.16446
2002                            0.46529
2003                            7.51947
2004                            1.17669
2005                           0.380391
2006                            2.35512
2007                           -3.65463
2008                            -6.8813
2009                            -5.6535
Name: 0, dtype: object