In [2]:
import pandas as pd
df1 = pd.read_csv('./data/all.csv')
df2 = pd.read_csv('./data/metadata_country.csv')
df2 = df2.drop(columns=['Country Code', 'IncomeGroup', 'SpecialNotes'])
df2 = df2.rename(index=str, columns={"TableName": "Country Name"})
df_3 = pd.merge(df1, df2, on='Country Name', how='left')
df_3.to_csv('./data/all_2.csv')
df_3

,Unnamed: 0,Country Name,Indicator Name,Year,Value,Region,Unnamed: 5
0,0,Aruba,GDP growth (annual %),1960,NaN,Latin America & Caribbean,NaN
1,1,Aruba,GDP growth (annual %),1961,NaN,Latin America & Caribbean,NaN
2,2,Aruba,GDP growth (annual %),1962,NaN,Latin America & Caribbean,NaN
3,3,Aruba,GDP growth (annual %),1963,NaN,Latin America & Caribbean,NaN
4,4,Aruba,GDP growth (annual %),1964,NaN,Latin America & Caribbean,NaN
5,5,Aruba,GDP growth (annual %),1965,NaN,Latin America & Caribbean,NaN
6,6,Aruba,GDP growth (annual %),1966,NaN,Latin America & Caribbean,NaN
7,7,Aruba,GDP growth (annual %),1967,NaN,Latin America & Caribbean,NaN
8,8,Aruba,GDP growth (annual %),1968,NaN,Latin America & Caribbean,NaN
9,9,Aruba,GDP growth (annual %),1969,NaN,Latin America & Caribbean,NaN
10,10,Aruba,GDP growth (annual %),1970,NaN,Latin America & Caribbean,NaN
11,11,Aruba,GDP growth (annual %),1971,NaN,Latin America & Caribbean,NaN
12,12,Aruba,GDP growth (annual %),1972,NaN,Latin America & Caribbean,NaN
13,13,Aruba,GDP growth (annual %),1973,NaN,Latin America & Caribbean,NaN
14,14,Aruba,GDP growth (annual %),1974,NaN,Latin America & Caribbean,NaN
15,15,Aruba,GDP growth (annual %),1975,NaN,Latin America & Caribbean,NaN
16,16,Aruba,GDP growth (annual %),1976,NaN,Latin America & Caribbean,NaN
17,17,Aruba,GDP growth (annual %),1977,NaN,Latin America & Caribbean,NaN
18,18,Aruba,GDP growth (annual %),1978,NaN,Latin America & Caribbean,NaN
19,19,Aruba,GDP growth (annual %),1979,NaN,Latin America & Caribbean,NaN
20,20,Aruba,GDP growth (annual %),1980,NaN,Latin America & Caribbean,NaN
21,21,Aruba,GDP growth (annual %),1981,NaN,Latin America & Caribbean,NaN
22,22,Aruba,GDP growth (annual %),1982,NaN,Latin America & Caribbean,NaN
23,23,Aruba,GDP growth (annual %),1983,NaN,Latin America & Caribbean,NaN
24,24,Aruba,GDP growth (annual %),1984,NaN,Latin America & Caribbean,NaN
25,25,Aruba,GDP growth (annual %),1985,NaN,Latin America & Caribbean,NaN
26,26,Aruba,GDP growth (annual %),1986,NaN,Latin America & Caribbean,NaN
27,27,Aruba,GDP growth (annual %),1987,NaN,Latin America & Caribbean,NaN
28,28,Aruba,GDP growth (annual %),1988,NaN,Latin America & Caribbean,NaN
29,29,Aruba,GDP growth (annual %),1989,NaN,Latin America & Caribbean,NaN
...,...,...,...,...,...,...,...
214338,214338,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1988,29369.643000,Sub-Saharan Africa,NaN
214339,214339,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1989,30264.471000,Sub-Saharan Africa,NaN
214340,214340,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1990,35100.590000,Sub-Saharan Africa,NaN
214341,214341,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1991,34132.529000,Sub-Saharan Africa,NaN
214342,214342,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1992,38275.978000,Sub-Saharan Africa,NaN
214343,214343,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1993,30183.416000,Sub-Saharan Africa,NaN
214344,214344,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1994,30208.734000,Sub-Saharan Africa,NaN
214345,214345,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1995,30376.986000,Sub-Saharan Africa,NaN
214346,214346,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1996,30570.239000,Sub-Saharan Africa,NaN
214347,214347,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1997,29469.426000,Sub-Saharan Africa,NaN
214348,214348,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1998,76391.804000,Sub-Saharan Africa,NaN
214349,214349,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,1999,66724.652000,Sub-Saharan Africa,NaN
214350,214350,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2000,51434.535000,Sub-Saharan Africa,NaN
214351,214351,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2001,58452.519000,Sub-Saharan Africa,NaN
214352,214352,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2002,50281.895000,Sub-Saharan Africa,NaN
214353,214353,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2003,48216.933000,Sub-Saharan Africa,NaN
214354,214354,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2004,61742.544000,Sub-Saharan Africa,NaN
214355,214355,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2005,59894.603000,Sub-Saharan Africa,NaN
214356,214356,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2006,55535.280000,Sub-Saharan Africa,NaN
214357,214357,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2007,60917.825000,Sub-Saharan Africa,NaN
214358,214358,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2008,68840.706000,Sub-Saharan Africa,NaN
214359,214359,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2009,67914.131008,Sub-Saharan Africa,NaN
214360,214360,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2010,71019.116728,Sub-Saharan Africa,NaN
214361,214361,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2011,71561.952250,Sub-Saharan Africa,NaN
214362,214362,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2012,72057.803322,Sub-Saharan Africa,NaN
214363,214363,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2013,NaN,Sub-Saharan Africa,NaN
214364,214364,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2014,NaN,Sub-Saharan Africa,NaN
214365,214365,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2015,NaN,Sub-Saharan Africa,NaN
214366,214366,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2016,NaN,Sub-Saharan Africa,NaN
214367,214367,Zimbabwe,Total greenhouse gas emissions (kt of CO2 equi...,2017,NaN,Sub-Saharan Africa,NaN

In [8]:
import numpy as np
df_4 = pd.read_csv('./data/all_2.csv')
df_4 = df_4[np.isfinite(df_4['Value'])]
df_4.to_csv('all_3.csv')
df_4.head()

,Unnamed: 0,Unnamed: 0.1,Country Name,Indicator Name,Year,Value,Region,Unnamed: 5
35,35,35,Aruba,GDP growth (annual %),1995,1.245086,Latin America & Caribbean,NaN
36,36,36,Aruba,GDP growth (annual %),1996,7.814432,Latin America & Caribbean,NaN
37,37,37,Aruba,GDP growth (annual %),1997,6.666622,Latin America & Caribbean,NaN
38,38,38,Aruba,GDP growth (annual %),1998,1.154469,Latin America & Caribbean,NaN
39,39,39,Aruba,GDP growth (annual %),1999,4.514062,Latin America & Caribbean,NaN